extends ../layouts/layout
block content
  a.btn.btn-primary.btn-lg.text-uppercase.mt-4(href=`/reserves/${locals.user._id}`) Mis reservas
  h2.display-4.mb-3.mt-2.text-center Bicicletas
  .row.row-cols-1.row-cols-md-2.row-cols-lg-3
    each bicycle in bicycles
      .col.mb-4
        .card.mx-auto.mx-md-0(style='width:300px')
          img.card-img-top(src=`/uploads/bicycles/${bicycle.image}`, alt='...', style="height:200px;")
          .card-body
            h6.card-title.fw-bold= "Modelo: "
              span.fw-normal=bicycle.model
              span.float-end Q. #{bicycle.price.toFixed(2)}
            p.card-text.fw-bold.pb-3= "Color: "
              span.fw-normal=bicycle.color
          if !bicycle.reserved
            button.btn.btn-success.btn-block.rounded-0(type='button' data-bs-toggle='modal' data-bs-target=`#modal${bicycle.code}`) Reservar
            .modal.fade(id=`modal${bicycle.code}`, tabindex='-1', aria-labelledby='exampleModalLabel', aria-hidden='true')
              .modal-dialog.modal-dialog-centered.text-center.mx-auto
                .modal-content
                  .modal-header
                    h5#exampleModalLabel.modal-title Reservar
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                  .modal-body
                    form(method='post', action=`/reserves/${bicycle._id}/create`)
                      .mb-3
                        label.col-form-label(for='from') Desde:
                        input.form-control(type='date' name='from', required)
                      .mb-3
                        label.col-form-label(for='to') Hasta:
                        input.form-control(type='date' name='to', required)
                      .modal-footer
                        button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cerrar
                        button.btn.btn-primary(type='submit') Reservar
          else
            p.text-center No disponible
  include ../partials/footer
