extends ../layouts/layout
block content
  .container
    h4.fs-1.fw-bold.mb-3.mt-2.text-center Mis reservas
    .row.row-cols-1.row-cols-md-2.row-cols-lg-3
      if reserves.length
        each reserve in reserves
          .col.mb-4
            .card.mx-auto.mx-md-0(style='width:300px')
              img.card-img-top(src=`/uploads/bicycles/${reserve.bicycle.image}`, alt='...', style="height:200px;")
              .card-body
                h6.card-title.fw-bold= "Modelo: "
                  span.fw-normal=reserve.bicycle.model
                  span.float-end Q. #{reserve.bicycle.price.toFixed(2)}
                p.card-text.fw-bold.pb-3= "Color: "
                  span.fw-normal=reserve.bicycle.color
      else
        p.text-center No tengo reservas
