extends ../../layouts/layout
block content
  a.btn.btn-primary.btn-lg.mt-4.mb-1(href='/dashboard/bicycles/create' role='button') Nueva Bicicleta
  .table-responsive(style="height:520px;")
    table.table.table-striped.align-middle
      thead.table-dark
        tr
          th(scope='col') Código
          th(scope='col') Color
          th(scope='col') Modelo
          th(scope='col') Precio
          th(scope='col') Imagen
          th(scope='col')
          th(scope='col')
      tbody
        if bicycles.length > 0
          each bicycle in bicycles
            tr
              td(scope='row')= bicycle.code
              td= bicycle.color
              td= bicycle.model
              td= `Q. ${bicycle.price.toFixed(2)}`
              td
                img(src=`/uploads/bicycles/${bicycle.image}`, style="height:50px;")
              td
                a.btn.btn-success.d-block(href= `/dashboard/bicycles/${bicycle.code}/update` role='button') Editar
              td
                form.d-grid(method='post' action=`/dashboard/bicycles/${bicycle.id}/delete`)
                  input(type='hidden' name='id' value= bicycle.id)
                  button(type='submit' class='btn btn-danger')
                    = 'Eliminar'
        else
          tr
            th.text-center(colspan="6")='No hay bicicletas'
