extends ../../layouts/layout
block content
  a.btn.btn-primary.btn-lg.rounded-0.mb-1(href='/dashboard/bicycles/create' role='button') Nueva Bicicleta
  .table-responsive(style="height:520px;")
    table.table.table-striped.align-middle
      thead.table-dark
        tr
          th(scope='col') Código
          th(scope='col') Color
          th(scope='col') Modelo
          th(scope='col') Precio
          th(scope='col') Imagen
          th(scope='col')
      tbody(class="bicycle-list")
        if bicycles.length > 0
          each bicycle in bicycles
            tr
              td(scope='row')= bicycle.code
              td= bicycle.color
              td= bicycle.model
              td= `Q. ${bicycle.price.toFixed(2)}`
              td
                img(src=`/uploads/bicycles/${bicycle.image}`, style="height:50px;")
              td.d-flex.justify-content-md-between
                a.btn.btn-success.col-md-5.rounded-0(href= `/dashboard/bicycles/${bicycle.code}/update` role='button') Editar
                a#delete-bicycle.btn.btn-danger.col-md-5.rounded-0(data-bicycle=`${bicycle._id}`, role="button") Eliminar
        else
          tr
            th.text-center(colspan="7")='No hay bicicletas'
